.about {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: #ebeaec;
  padding-top:60px;
}

.about-heading-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 25%;
  background-color: green;
  left: 0;
  padding: 10px;
  background-color: #5E586A;
  border-radius: 50px;
  color: white;
}

.about-container {
  margin-top: 20px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.about-text-wrapper {
  width: 70%;
  text-align: justify;
}

.image-wrapper {
  width: 30%;
}

.image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid white;
  margin: 0 auto;
}

.profile-photo {
  width: 100%;

}
