html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #211c29;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 0;
  z-index: 10;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  text-align: center;
}

.logo,
.sm-nav-list,
.nav-list {
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33.33333%;
}

.logo,
.sm-nav-item,
.nav-item {
  list-style: none;
}

.sm-nav-item {
  font-size: 26px;
  padding: 0px 10px;
}

.nav-item {
  color: grey;
}

.nav-item-link {
  text-decoration: none;
  color: gray;
  padding: 20px;
}

.nav-item-link:hover>.nav-item {
  border-bottom: 1px solid white;
}

.selected {
  color: white;
}

.about-me-pic {
  width: 150px;
  height: auto;
  border-radius: 600px;
}

.about {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.education {
  background-color: white;
  margin: 0;
}

.projects {
  background-color: lightgray;
}

.education-container {
  display: grid;
  grid-gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(3, 20%);
  padding: 20px;
}

.education-content {
  background-color: #d0c9de;
  box-shadow: 3px 3px #c5bcd6;
  text-align: center;
  padding: 20px;
}

h3 {
  text-align: center;
}

.heading {
  text-align: center;
  padding: 20%;
  color: white;
}

.project-container {
  display: grid;
  grid-gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
  padding: 20px;
}

.project-content {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}

.modal {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

.modal-content, .edu-modal-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas:
    'heading heading heading heading'
    'cert cert link1 link2'
    'cert cert desc desc'
    'cert cert desc desc'
    '. close close . ';
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 5px 8px rgba(0, 0, 0, 0.3);
  width: 50%;
}

.heading-wrapper {
  grid-area: heading;
}

.cert-img-wrapper {
  grid-area: cert;
}

.close-button-wrapper {
  grid-area: close;
}

.course-link-wrapper-1 {
  grid-area: link1;
}

.course-link-wrapper-2 {
  grid-area: link2;
}

.description-wrapper {
  grid-area: desc;
}

.cert-img {
  width: 100%;
  height: auto;
}

.edu-link {
  padding: 12px;
  color: white;
  background-color: #17063A;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 3px;
  transition: ease-in-out 0.2s;
}

.edu-link:hover {
  background-color: #453761;
}

button {
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: #453761;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  font-size: 14px;
}

button:hover {
  background-color: #6a5e80;
}

.edu-link:visited {
  color: white;
}

.description-wrapper p {
  font-size: 14px;
  text-align: justify;
}

.main-landing {
  background-color: #373045;
  height: 100vh;
}




h1 {
  text-align: center;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 42px;
  animation: fadeIn 4s;
}

.spacing {
  height: 100px;
}

.name-wrapper {
  position: absolute;
  background-color: #5e596a;
  border-radius: 0px 50px 50px 0px;
  width: 30%;
  padding: 20px;
  transform: translate(-500px);
  animation: comeIn 4s forwards;

}

.nav-container {
  position: absolute;
  right: 0;
  top: 20%;
}

.nav-wrapper-a, .nav-wrapper-b, .nav-wrapper-c, .nav-wrapper-d {
  position: relative;
  background-color: #5e596a;
  border-radius: 50px 0px 0px 50px;
  width: 100%;
  padding: 20px;
  margin: 20px;

}

.nav-wrapper-a {
  animation: comeInOpp 2.8s forwards;
}
.nav-wrapper-b {
  animation: comeInOpp 2.6s forwards;
}
.nav-wrapper-c {
  animation: comeInOpp 2.4s forwards;
}
.nav-wrapper-d {
  animation: comeInOpp 2.2s forwards;
}

@keyframes comeInOpp {
  0% {
    transform: translate(500px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes comeIn {
  0% {
    transform: translate(-500px);
  }
  100% {
    transform: translate(0px);
  }
}

/* * {
  border: 1px solid red;
} */

.icon-container {

  position: absolute;
  margin: 0 auto;
  left: 20px;
  top: 42%;
  left: 35%;
  text-align: center;

  animation: 8s ease 0s normal forwards 1 fadein;

}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.code-icon {
  color: white;
  font-size: 40px;
  padding: 0;
  padding-right: 10px;
  float: left;
}

.desc-word-1,.desc-word-2, .desc-word-3 {
  color: white;
  font-size: 32px;
  font-family: 'Fjalla One', sans-serif;
  animation: fadeIn 0.7s;
  text-align: left;
  float:left;
  margin: 10px;
}

.desc-word-wrapper {
  position: absolute;
  margin: 0 auto;
  left: 30%;
  top: 40%;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


.go-down {
  position: absolute;
  color: white;
  font-size: 90px;
  margin: 40% 45%;
}


/*
<div className="image-wrapper">
<img className="profile-photo" src={ProfilePhoto}/>
</div>

import ProfilePhoto from '../img/profile-photo.jpg';
.image-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid white;
  margin: 0 auto;
  position: absolute;
}


.profile-photo {
  width: 100%;



}*/
